<form id="form_nav" method="post" class="d-flex">
    <!-- solo se usa para visualizacion -->
    <input type="hidden" id="flg_db" name="flg_db" value="">
    <input type="text" class="form-control me-sm-2" placeholder="server ip" id="srv" name="srv" value="">
    <input type="text" class="form-control me-sm-2" placeholder="Username" id="usr" name="usr" value="">
    <input type="password" class="form-control me-sm-2" placeholder="password" id="pwd" name="pwd" value="">
    
    <input type="button" class="btn btn-secondary" id="findSrv" name="findSrv" value=" GOo " >
    <input type="button" class="btn btn-secondary"value="MySql" disabled>
</form>

