{% extends 'base.html' %}

{% block content %}

<form id="form_content" class="" role="form">

    <div class="divSelectDb form-group ">
        <table style="width:100%;">
            <tr>
                <td>
                    <select class="form-select selectDb dropdown bootstrap-select" id="selectDb" name="selectDb">
                    </select>
                </td>
                <td style="width:50%;">
                    <input type="button" class="btn btn-primary btn-sm" id="sendSql" name="sendSql" value="run SQL">
                    <!--input type="button" class="btn btn-primary btn-sm" id="explainSql" name="explainSql"
                        value=" explain SQL"-->
                    <!--button type="button" data-toggle="button" class="btn " id="showHelp" name="showHelp" style="font-size:36px">
                        <i class="fa fa-info-circle" ></i>
                    </button-->
                </td>
            </tr>
        </table>



    </div>

    <div class="divMsgDb">
        <div class="alert  alert-warning fade show" role="alert">
            <span></span>
        </div>
    </div>
    
    <div id="loading" name="loading" style="display: none;">
        <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 40%" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only">LOADING...</span>
            </div>
        </div>
    </div>
    <div id="divResultShow">
        <div id="resultShow" class="resultShow"></div>
        <div id="resultShow2" class="resultShow"></div>
    </div>

</form>


{% endblock %}